objs/
dist/README-SDL.txt
dist/SDL2.dll
dist/king-death
dist/king-death.exe
dist/king-death.ilk
dist/king-death.pdb
sprites/pack-sprites
sprites/pack-sprites.exe
sprites/pack-sprites.ilk
sprites/pack-sprites.pdb
sprites/king-death/
